
@font-face {
    font-family: vet;
    src: url("./coolvetica rg.otf")
    /* src: url("./crystal radio kit.ttf") */

}
@font-face {
    font-family: nunito;
    src: url('./NunitoSans-Regular.ttf')
}

@font-face {
    font-family: baloo;
    src: url('./funfonts/baloo.ttf')
}

@font-face {
    font-family: alt;
    src: url("./funfonts/Cardo-Regular.ttf")
}

@font-face {
    font-family: knuckle;
    src: url("./Stoicheion-2Od3X.ttf")
}

.purple {
  background-color: #f8ceec;
  background-image: linear-gradient(90deg, #f8ceec 0%, #a88beb 50%);
}
.gblue {
  background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vlight {
  background-color: #d9e4f5;
background-image: linear-gradient(99deg, #d9e4f5 0%, #f5e3e6 74%);
}
.notsure {
  background: radial-gradient(circle at 50% 50%, #bba2ff, #a7abff, #6bbfff, #00d3ff, #3be1e2, #89e8be, #b7e9ab, #c8e9a7);
}

.delicate {
  background: #d3cce3; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dull {
  background: #C9D6FF;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */ */
background: radial-gradient(#E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.teal {
  background-color: #007ea7;, 100%;
background-image: linear-gradient(100deg, #007ea7 0%, #80ced7 70%);
}
.margo{
  background: #ffefba; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #ffefba, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #ffefba, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margo2{
  background: #6bbfff; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #6bbfff, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #6bbfff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margo3 {
  background: #cdedca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e5ffe3 4%, white); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e5ffe3 4%, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.margo4 {
 background-image: radial-gradient(#2e8b84, #65a6b2, #a1c1d3, #d6deeb, #ffffff);
}

.margo5 {
   background-image: linear-gradient(to left top, #c4e394, #48bda0, #56ccda, #91dae3, #ffffff);
}

.margo6 {

 background-image: linear-gradient(to right top, #bbc0eb, #acb3ed, #9ea5ee, #8f98ef, #818af0);}


 .margo7 {
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
 }
 .margo10{
   background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
 }
 .margo11 {
   background-color: #CDDCDC;
 background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
 background-blend-mode: screen, overlay;
 }
 .margo12 {
   background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
 }
 .margo13{
   background-image: linear-gradient( 10deg,  rgba(141,190,134,1) 13.6%, rgba(230,251,198,1) 65.3%, rgba(255,255,255,1) 108.8% );
 }


.margo14 {
  background: hsla(72, 100%, 90%, 1);
  background: radial-gradient(circle, hsla(72, 100%, 90%, 1) 0%, hsla(47, 84%, 83%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(72, 100%, 90%, 1) 0%, hsla(47, 84%, 83%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(72, 100%, 90%, 1) 0%, hsla(47, 84%, 83%, 1) 100%);
}
 .margo8{
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
 }
 .margo9{
   background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
 }
.bluyel {
  background-color: #fdf86d;
  background-image: linear-gradient(100deg, #fdf86d 0%, #bddcf1 74%);
}
.calmblue {
  background-color: #e4eee9;
  background-image: linear-gradient(100deg, #e4eee9 0%, #93a5ce 74%);
}

.yell {
  background-color: #85FFBD;
  background-image: linear-gradient(88deg, #85FFBD 0%, #FFFB7D 50%);
}

.bluelight {
  background-image: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 10%);
}
.freshair {
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.sunrise {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 70%);
}

.honeydew {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.greenlight {
  background-color: #85FFBD;
  background-image: linear-gradient( 90deg,  rgba(204,254,152), rgba(229,253,190));
}
.orange {
  background-color: #FBAB7E;
  background-image: linear-gradient(70deg, #FBAB7E 0%, #F7CE68 70%);
}

.pinkblu {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.blue {
  background-color: #8EC5FC;
  background-image: linear-gradient(78deg, #8EC5FC 0%, #E0C3FC 86%);
  a:hover {
    color: black;
    background-color: #8EC5FC;
  }
}

.green {
  background-color: #D9AFD9;
  background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 99%);
  a:hover {
    color: black;
    background-color: #D9AFD9;
  }
}

body {
    line-height: 2.1;
    font-family: "nunito", monospace;
    background-color:  #f5f5dc;
    background-color: #e7edda;
    background-color: #f6f2e4;
}


a {
  color: black;
  font-style: italic;
  text-decoration: underline;
  font-weight: bolder;
}


.section {
  padding: 1rem;
  margin: 1rem;
}

.thumbnail {
  display: inline;
  border: 27px solid #9aa69b;
  border: 29px solid white;
  margin-top: .23rem;
  outline: 3px solid black;
}

video {
  border: 12px solid black;

}
.bit a {
 color: black;
}

.bit a:hover {
 color: black;
 background-color: #66e8d5;
}

.contact a:hover {
 color: black;
 background-color: #66e8d5;
}

.bit {
  padding: 1.5rem;
  border: 3px SOLID black !important;
  background: white;
}

.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  position: relative;
  font-family: vet;
}

.filters a:hover, .filters a:focus, .filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.item {
  border: none;
  background: white
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.item .item-wrap img {
  transition: .3s transform ease;
  transform: scale(1);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: .3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.testimonial-wrap {
  padding: 50px 50px 80px 50px;
  background: #eceff2;
}

.testimonial-wrap .testimonial {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.testimonial-wrap .testimonial img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto 30px auto;
}

.testimonial-wrap .testimonial blockquote p {
  font-size: 20px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: .2s all ease;
  font-weight: 700;
}

.readmore:active, .readmore:focus, .readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.testimonials-slider .swiper-pagination {
  margin-top: -60px;
  position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(13, 30, 45, 0.3);
  opacity: 1;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(13, 30, 45, 0.6);
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: .7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.form-control:active, .form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}




@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Custom Navmenu */
.custom-navmenu {
  background: #0d1e2d;
}

.custom-navmenu .custom-menu, .custom-navmenu .custom-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 10px;
}

.custom-navmenu .custom-menu li {
  margin-bottom: 0;
  font-size: 20px;
}

.custom-navmenu .custom-menu li a {
  color: #fff;
  padding: 10px 0 !important;
}

.custom-navmenu .custom-menu li a:hover {
  text-decoration: none;
}

.custom-navmenu .custom-menu li.active a {
  text-decoration: underline;
}

.custom-navmenu h3 {
  font-size: 20px;
  color: #fff;
}

.custom-navmenu p {
  color: rgba(255, 255, 255, 0.6);
}

.custom-navmenu a {
  color: rgba(255, 255, 255, 0.7);
}

.custom-navmenu a:hover {
  color: #fff;
}
.lilicon {
  margin: 10px;
}

/* Custom Navbar */
.custom-navbar {
  font-family: vet;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 0px;

  width: 100%;
}
#main {
  margin-top: 0px;
}
.site-portfolio {
  margin-top: 0px;
  padding-top: 0px;
}

@media (max-width: 780px) {
  .custom-navbar > .container {
    padding-right: 0;
    padding-left: 0;


  }
}


.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  line-height: .1rem;
  margin-left: 170px;

}
